@model PostGetModel.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div><b>@Html.LabelFor(x=> x.PessoaID)</b></div>
<div>@Model.PessoaID</div>
<br />
<div><b>@Html.LabelFor(x => x.Nome)</b></div>
<div> @Model.Nome</div>
<br />
<div><b>@Html.LabelFor(x => x.Twitter)</b></div>
<div>@Model.Twitter</div>

@Html.ActionLink("Voltar", "Index", "Home");
